---
import Section from '../Section.astro';
import H1 from '../ui/H1.astro';
import H2 from '../ui/H2.astro';
import CursorCoords from '../ui/CursorCoords.astro';
import PGP from '../ui/PGP.astro';
import { MoveUpRight } from '@lucide/astro';
---

<Section id='home'>
  <div class='flex flex-col justify-between h-full'>
    <H1>creating experiences users love</H1>
    <div class='flex'>
      <div
        class='hidden md:flex md:flex-col justify-between grow text-white basis-0.5 p-4'
      >
        <CursorCoords />
        <PGP />
      </div>
      <div
        class='flex flex-col justify-between grow text-white basis-0.5 pt-4 px-4 relative'
      >
        <img
          class='absolute top-0 left-0'
          src='/img/tl.svg'
          height='10'
          width='10'
          alt=''
          aria-hidden='true'
        />
        <img
          class='absolute top-0 right-0'
          src='/img/tr.svg'
          height='10'
          width='10'
          alt=''
          aria-hidden='true'
        />
        <img
          class='absolute bottom-0 left-0'
          src='/img/bl.svg'
          height='10'
          width='10'
          alt=''
          aria-hidden='true'
        />
        <img
          class='absolute bottom-0 right-0'
          src='/img/br.svg'
          height='10'
          width='10'
          alt=''
          aria-hidden='true'
        /><H2
          >I don’t design. I solve problems&mdash;by improving digital products,
          user experiences, and the systems behind them.</H2
        >
        <div>
          <div class='border-b border-solid border-gray-800'>
            <div class='grow basis-0.5'>
              <p
                class='uppercase font-bold border-b border-solid border-gray-800 py-2 2xl:py-4'
              >
                Who I am
              </p>
            </div>
            <div class='grow basis-0.5'>
              <p class='border-b border-solid border-gray-800 py-2 2xl:py-4'>
                <span class='text-gray-500 w-8 inline-block font-mono'>01.</span
                > Ralph Bolliger
              </p>
              <p class='py-2 2xl:py-4'>
                <span class='text-gray-500 w-8 inline-block font-mono'>02.</span
                > Senior Experience Designer
              </p>
            </div>
          </div>
          <div class=''>
            <div class='grow basis-0.5'>
              <p
                class='uppercase font-bold border-b border-solid border-gray-800 py-2 2xl:py-4'
              >
                Links
              </p>
            </div>
            <div class='grow basis-0.5'>
              <p class='border-b border-solid border-gray-800 py-2 2xl:py-4'>
                <a href='https://github.com/echo-gravitas' target='_blank'
                  ><span class='text-gray-500 w-8 inline-block font-mono'
                    >03.</span
                  > GitHub <MoveUpRight size='20' /></a
                >
              </p>
              <p class='border-b border-solid border-gray-800 py-2 2xl:py-4'>
                <a href='https://threema.id/b2ppwbvh' target='_blank'
                  ><span class='text-gray-500 w-8 inline-block font-mono'
                    >04.</span
                  > Threema ID <MoveUpRight size='20' /></a
                >
              </p>
              <p class='py-2 2xl:py-4'>
                <a
                  href='https://github.com/echo-gravitas/digital-self-determination/blob/main/README.md'
                  target='_blank'
                >
                  <span class='text-gray-500 w-8 inline-block font-mono'
                    >05.</span
                  > Digital Self-Determination <MoveUpRight size='20' />
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>
