---
import Section from '../Section.astro';
---

<Section showBorder={false}>
  <div class='flex items-end h-full text-gray-500 font-mono leading-none'>
    <div class='flex w-full justify-between'>
      <p>
        <small>&copy; 2026<br />All rights reserved</small>
      </p>
      <p class='text-right'>
        <small
          ><a href='https://threema.id/b2ppwbvh'
            >Going dark is no<br /> longer an option.</a
          ></small
        >
      </p>
    </div>
  </div>
</Section>
