---
import Section from '../Section.astro';
---

<Section id='purpose'>
  <div class='flex justify-center items-center h-full p-4'>
    <div class='text-white font-light'>
      <p class='mb-8 uppercase'>&#9711; Purpose Statement</p>
      <p class='indent-[10vw] text-2xl md:text-5xl mb-8'>
        I believe that digital technologies should expand human freedom, not
        diminish it. Because our identities, choices, and relationships are
        increasingly mediated by digital systems, control over our data and
        digital existence is essential for autonomy, dignity, and equitable
        participation in society.
      </p><p class='indent-[10vw] text-2xl md:text-5xl'>
        I design and advocate for digital products and systems that uphold
        transparency, privacy, and user agency&mdash;enabling people to shape,
        not be shaped by, the digital world.
      </p>
    </div>
  </div>
</Section>
