---
import Section from '../Section.astro';
---

<Section id='purpose'>
  <div class='flex justify-center items-center h-full p-4'>
    <div class='text-white font-light'>
      <p class='mb-8 uppercase'>&#9711; Purpose</p>
      <p class='indent-[10vw] text-3xl md:text-5xl mb-8'>
        I believe technology should serve people, not exploit their time,
        attention, or trust. Clarity is an act of respect. When digital products
        demand more attention than they give back in value, something is wrong.
      </p><p class='indent-[10vw] text-3xl md:text-5xl'>
        Design is never neutral, which is why responsibility, honesty, and
        restraint matter more than persuasion or short-term metrics.
      </p>
    </div>
  </div>
</Section>
