---
import Section from '../Section.astro';
import statements from '../../data/purpose.json';

const statement =
  statements[Math.floor(Math.random() * statements.length)] ??
  "I'm a passionate product designer dedicated to creating sustainable user experiences with purpose.";
---

<Section id='statements'>
  <div
    class='flex justify-center items-center h-full bg-[url(/img/network.svg)] bg-center bg-no-repeat bg-cover'
  >
    <p
      class='text-white text-center leading-none tracking-tighter font-light w-[90%] md:w-[75%] text-[8vw] md:text-[6vw] lg:text-[6vw]'
      set:html={statement}
    />
  </div>
</Section>
