---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Ralph Bolliger — Senior Experience Designer'>
  <p class='text-small'>Welcome to my personal website!</p>
  <p class='text-normal'>Welcome to my personal website!</p>
  <p class='text-large'>Welcome to my personal website!</p>
  <p class='text-lead'>Welcome to my personal website!</p>
</BaseLayout>
