---
import BaseLayout from '../layouts/BaseLayout.astro';
import GoldenSection from '../components/GoldenSection.astro';
---

<BaseLayout title='Ralph Bolliger — Senior Experience Designer'>
  <GoldenSection>
    <div slot='left'>left</div>
    <div slot='right'>right</div>
  </GoldenSection>
</BaseLayout>
