---
import NormalText from './typography/NormalText.astro';

type Column = {
  text: string;
  title: string;
};

type Props = {
  columns: Column[];
};

const { columns } = Astro.props;
---

<div class='grid gap-base md:grid-cols-3 lg:grid-cols-3'>
  {
    columns.map((column) => (
      <article>
        <NormalText
          as='h3'
          class='border-b pb-base'
          tone='accent'
          weight='bold'
        >
          {column.title}
        </NormalText>
        <NormalText class='pt-base' tone='muted'>
          {column.text}
        </NormalText>
      </article>
    ))
  }
</div>
