<section
  class='mb-base-double border-t pt-base lg:grid lg:grid-cols-[1fr_1.618fr] lg:gap-base-double'
>
  <div>
    <slot name='left' />
  </div>
  <div>
    <slot name='right' />
  </div>
</section>
