---
import { SwatchBook } from '@lucide/astro';
---

<header
  class='sticky top-0 z-10 mx-auto mb-base-quadruple flex w-full items-center justify-between bg-page/50 py-base backdrop-blur-sm'
>
  <a
    href='/'
    aria-label='Ralph Bolliger'
    class='inline-flex size-10 items-center justify-center rounded-full bg-accent'
  >
    <span class='logo-mark size-full p-base-half' aria-hidden='true'></span>
  </a>

  <button
    title='Press T or click to toggle theme'
    type='button'
    aria-label='Press T or click to toggle theme'
    data-theme-toggle
    class='inline-flex size-10 cursor-pointer items-center justify-center rounded-full text-accent'
  >
    <SwatchBook aria-hidden='true' />
  </button>
</header>
