---
import { CaseSensitive, SwatchBook } from '@lucide/astro';
---

<header
  class='sticky top-0 z-10 mb-base bg-page/50 backdrop-blur-sm md:mb-base-quadruple'
>
  <div
    class='mx-auto flex w-full max-w-[calc(var(--container-5xl)+var(--spacing-base-double))] items-center justify-between px-base py-base'
  >
    <a
      href='/'
      aria-label='Home'
      class='inline-flex size-10 items-center justify-center rounded-full bg-accent'
    >
      <span class='logo-mark size-full p-base-half' aria-hidden='true'></span>
    </a>

    <nav class='flex items-center gap-base' aria-label='Hauptnavigation'>
      <a href='/blog' class='text-normal text-accent hover:underline'>
        Blog
      </a>
      <button
        title='F drücken oder klicken, um die Schriftart zu wechseln'
        type='button'
        aria-label='F drücken oder klicken, um die Schriftart zu wechseln'
        data-font-toggle
        class='inline-flex size-10 cursor-pointer items-center justify-center rounded-full text-accent'
      >
        <CaseSensitive aria-hidden='true' />
      </button>
      <button
        title='T drücken oder klicken, um das Theme zu wechseln'
        type='button'
        aria-label='T drücken oder klicken, um das Theme zu wechseln'
        data-theme-toggle
        class='inline-flex size-10 cursor-pointer items-center justify-center rounded-full text-accent'
      >
        <SwatchBook aria-hidden='true' />
      </button>
    </nav>
  </div>
</header>
