---
type SectionBorder = 'none' | 'top';
type SectionSpacing = 'none' | 'half' | 'base' | 'double' | 'quadruple';

type Props = {
  border?: SectionBorder;
  class?: string;
  id?: string;
  margin?: SectionSpacing;
  padding?: SectionSpacing;
};

const {
  border = 'top',
  class: className,
  id,
  margin = 'quadruple',
  padding = 'base',
} = Astro.props;

const borders: Record<SectionBorder, string | undefined> = {
  none: undefined,
  top: 'border-t',
};

const margins: Record<SectionSpacing, string | undefined> = {
  none: undefined,
  half: 'mb-base-half',
  base: 'mb-base',
  double: 'mb-base-double',
  quadruple: 'mb-base-quadruple',
};

const paddings: Record<SectionSpacing, string | undefined> = {
  none: undefined,
  half: 'pt-base-half',
  base: 'pt-base',
  double: 'pt-base-double',
  quadruple: 'pt-base-quadruple',
};
---

<section
  id={id}
  class:list={[
    margins[margin],
    borders[border],
    paddings[padding],
    'scroll-mt-[calc(var(--spacing-base-quadruple)+var(--spacing-base))]',
    'lg:grid lg:grid-cols-[1fr_3fr] lg:gap-base-double',
    className,
  ]}
>
  <div>
    <slot name='left' />
  </div>
  <div>
    <slot name='right' />
  </div>
</section>
