---
const { class: className = '' } = Astro.props;
---

<h1
  class=`text-white font-bold md:font-normal lg:font-light leading-none tracking-tighter text-[15vw] md:text-[16vw] lg:text-[10vw] xl:text-[8vw] 2xl:text-[220px] ${className}`
  .trim()
>
  <slot />
</h1>
